<div>
    <div> 
       {{title}}
    </div>
    <div> 
        {{post}}
        <br>
        <div>
           By {{user.username}} on {{format_date created_at}}
            |
           <a href="/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
  </div>